<div *ngIf="tempFlashcards.length > 0">
  <div class="wrapper">
    <button (click)="printPDF()" class="print-btn">Print PDF</button>
  </div>
  <div #dictionaryContent class="dictionary-container" id="dictionary-content">
    <div *ngFor="let letter of letters" class="letter-section">
      <h2 class="letter">{{ letter }}</h2>
      <div *ngFor="let card of groupedFlashcards[letter]" class="flashcard-entry">
        <h3 class="word">{{ card.word }}</h3>
        <p><strong>Definition:</strong> {{ card.meaning }}</p>

        <!-- show example only when present -->
        <p *ngIf="hasExample(card)"><strong>Example:</strong> {{ card.example }}</p>

        <p><strong>Subject:</strong> {{ card.subject }}</p>
        <p *ngIf="card.level != 'Other'"><strong>Level:</strong> {{ card.level }}</p>
        <hr>
      </div>
    </div>
  </div>
</div>
<div *ngIf="tempFlashcards.length == 0" class="centered">No flashcards found. Add new flashcards</div>
