/* src/app/flashcard/flashcard.component.css */
.flashcard-container {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  padding: 10px;
}

.form-container {
  margin-bottom: 20px;
}

.filter-container {
  margin-bottom: 20px;
}

.example-full-width {
  width: 100%;
}

.navigation-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.navigation-buttons button {
  margin: 0 10px;
}

.flashcard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px auto;
}

.flashcard {
  perspective: 1000px;
  width: 100%;
  max-width: 300px;
  margin: auto;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.flashcard-inner {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 300px;
  height: auto;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.flashcard-inner.flipped {
  transform: rotateY(180deg);
}

.flashcard-front,
.flashcard-back {
  position: absolute;
  width: 90%; /* Width of flashcards to be 90% */
  min-height: 250px;
  border: 3px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: white;
  backface-visibility: hidden;
}

.flashcard-back {
  transform: rotateY(180deg);
}

.card-number {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.flashcard-content,
.flashcard-content-back {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flashcard-image {
  max-width: 100%;
  max-height: 150px;
  margin-top: 10px;
}

.flashcard-content-back h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.flashcard-content-back p {
  margin: 0;
  margin-bottom: 10px;
}

.flashcard-actions {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.photo-field {
  margin-bottom: 10px;
}

@media (max-width: 375px) {
  .flashcard {
    max-width: 100%;
    width: 100%;
    margin: auto;
  }

  .flashcard-inner {
    max-width: 95%;
    width: 95%;
    margin: auto;
  }

  .flashcard-content,
  .flashcard-content-back {
    font-size: 18px;
  }

  .flashcard-image {
    max-height: 120px;
  }

  .navigation-buttons {
    flex-direction: row;
    gap: 10px;
  }

  .flashcard-container {
    max-width: 100%;
    padding: 0 10px;
  }
}
