/* src/app/app.component.css */
mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3f51b5; /* Toolbar background color */
  color: white; /* Toolbar text color */
  flex-wrap: wrap; /* Ensure toolbar content wraps on small screens */
}

.toolbar-buttons {
  display: flex;
}

.toolbar-buttons button {
  margin-right: 10px;
}

.button-modern {
  background-color: #4caf50; /* Green background color */
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button-modern:hover {
  background-color: #388e3c; /* Darker green on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.router-link-active {
  font-weight: bold;
  color: #ff4081;
}

/* Make the toolbar responsive */
@media (max-width: 600px) {
  .toolbar-buttons {
    display: none;
  }

  mat-toolbar .mat-icon-button {
    display: inline-block;
  }
}
