/* src/app/sentence-test/sentence-test.component.css */

.test-container,
.result-container,
.no-flashcards-container {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

button {
  margin-top: 10px;
}

.no-flashcards-container {
  margin-top: 50px;
}

.input-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0; /* Add spacing around the input */
}

.full-width {
  width: 100%;
  max-width: 400px; /* Set a max-width for the input field */
}

mat-form-field {
  width: 100%;
}

.result-container p {
  margin-top: 10px;
}

/* Modernize buttons */
.button-modern {
  background-color: #4caf50;  /* Green background color */
  color: white;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin: 10px 0;  /* Add some margin for better spacing */
}

.button-modern:hover {
  background-color: #388e3c;  /* Darker green on hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

button.mat-raised-button[color="accent"] {
  background-color: #ff4081;  /* Accent color */
}

button.mat-raised-button[color="accent"]:hover {
  background-color: #f50057;  /* Darker accent color on hover */
}
